body {
  background-color: #f5f7fb;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  background: linear-gradient(90deg, #6a11cb, #2575fc);
}

.navbar-brand {
  font-size: 22px;
  font-weight: bold;
}

.nav-link {
  font-weight: 600;
}

.nav-link:hover {
  color: #ffeb3b !important;
}

/* Hero Section */
.hero {
  background: linear-gradient(120deg, #ff512f, #dd2476);
  color: white;
  padding: 50px;
  border-radius: 15px;
}

/* Cards */
.card {
  border-radius: 15px;
  border: none;
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
}

/* Footer */
footer {
  background: #212529;
  color: white;
  padding: 15px;
  border-radius: 15px;
  margin-top: 40px;
  text-align: center;
}
